<!DOCTYPE html>
<html data-triggered="true" lang="en">
    <body>
        <header>
            <a class="name" routerLink="">Chronicle</a>

            <div class="wrap"></div>
        </header>

        <div>
            <div>
                <div>
                    <div class="simpleContainer" data-transitioned-child="true">
                        <div class="centerContainer firstLoad narrowCenterContainer">
                            <div class="planFormContainer">
                                <div class="stepHeader-container">
                                    <div class="stepHeader">
                                        <h1 class="stepTitle" data-uia="stepTitle">Sign Up</h1>
                                        <span id="" class="stepIndicator">Step <b>1</b> of <b>4</b></span>
                                    </div>
                                </div>
        
                                <div class="form__container">
                                    <form>
                                        <div class="Group-sc-1lird8m-0 data__field">
                                            <div class="LabelGroup-libapj-0 label__tag">
                                                <label for="email">What's your email?</label>
                                            </div>
                                            
                                            <input type="email" id="email" name="email" placeholder="Enter your email." required="" value="" class="input__field">
                                        </div>
                                        
                                        <div class="data__field">
                                            <div class="label__tag">
                                                <label for="confirm">Confirm your email</label>
                                            </div>
                                            
                                            <input type="email" id="confirm" name="confirm" placeholder="Enter your email again." required="" value="" class="input__field">
                                        </div>
                                        
                                        <div class="data__field">
                                            <div class="label__tag">
                                                <label for="password">Create a password</label>
                                            </div>
                                            
                                            <input type="password" autocomplete="new-password" id="password" name="password" placeholder="Enter your password." required="" value="" class="input__field">
                                        </div>
                                        
                                        <div class="EmailForm__Center">
                                            <p class="Type__TypeElement">
                                                <span>By clicking on CONTINUE, you agree to Chronicle's <a href="#">Terms and Conditions of Use</a></span>
                                            </p>
                                            
                                            <div class="submitBtnContainer firstLoad">
                                                <button type="submit" class="btn nf-btn nf-btn-primary nf-btn-solid nf-btn-oversize" routerLink="/details">Continue</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>