<head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous"></head>

<header><a class="name" routerLink="">Chronicle</a>
    <div class="wrap">
        <div class="menu"><a routerLink="signup">Sign Up</a><a href="#">Log In</a>
        </div>
    </div>
</header>

<main>
    <div class="fullpage" id="js-fullpage">
        <div class="section">
            <div class="fullpage__slide">
            <div class="title title--top">
                <h1 class="title__text js-letter">Let Your Mind Wander</h1>
                <p class="title__lead js-letter">Millions of Stories at Your Fingertips</p>
                <div class="btn-wrap js-letter"><a class="btn" routerLink="signup">SIGN UP NOW</a></div>
            </div>

            <div class="image image--home">
            </div>
            </div>
        </div>

        <div class="section">
            <div class="fullpage__slide">
            <div class="subtitle">
                <h2 class="subtitle__text js-letter">Discover Your New<br>Favorite Story</h2>
                <p class="subtitle__lead js-letter">With Chronicle, you can browse through a massive library of fiction works from a variety of authors – on your phone, your computer, your tablet and more.

                There are millions of stories to enjoy on Chronicle. So whether you’re in the mood for a thrilling mystery, an exciting adventure, a chilling tale or a heart-warming romance, the right book is always at your fingertips. Choose what you want to read, or let Chronicle make a recommendation.
                
                You can also browse through recommendations from friends and authors, or pick something from our curated collections.
                
                Discover your new favorite story with Chronicle. Subscribe or read for free.</p>
                <div class="btn-wrap js-letter"><a class="btn" routerLink="signup">GET CHRONICLE FREE</a></div>
            </div>
            
            <div class="image image--about">
            </div>
            </div>
        </div>

        <div class="section">
            <div class="fullpage__slide">
            <div class="title title--top">
                <h2 class="title__text js-letter">Questions? Contact Us</h2>
                <ul>
                <li class="title__lead js-letter"><p><i class="fas fa-envelope" style="color: #3CDFD4;"></i> not.real@lmao.com</p></li>
                <li class="title__lead js-letter"><p><i class="fas fa-phone" style="color: #3CDFD4;"></i> (800) 420-6969</p></li>
                <li class="title__lead js-letter"><p><i class="fab fa-twitter" style="color: #3CDFD4;"></i> i_have</p></li>
                <li class="title__lead js-letter"><p><i class="fab fa-instagram" style="color: #3CDFD4;"></i> no_socials</p></li>
                </ul>
            </div>
            
            <div class="image image--contact">
            </div>
            </div>
        </div>
    </div>
</main>